extends layout

block content
  h1= title
  p Welcome to #{title}. Upload an image of a plant and the neural network will tell you what species it is.
      img(id="img" src='https://i.imgur.com/JlUvsxa.jpg' style='width:227px; height:227px;')
