doctype html
html
  head
    title= title
    script(type='text/javascript').
      import React from 'react'
      import ReactDOM from 'react-dom'
      import { Spinner, CornerDialog, Dialog, TagInput, Overlay, FileUploader, Menu, Button, Pane, Text, Badge, Pill, Alert } from 'evergreen-ui'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
